*,
html {
    margin: 0;
    padding: 0;
}


.container-navbar {
    background-color: #be9696;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 25px;
}

.li-navbar:hover {
    background-color: #563434;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 500px;
    height: 400PX;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;

}

.img-content {
    width: 40%;
    height: 50%;
}

.container-footer {
    height :10vh;
    height: 58px;
    background-color: #563434;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.h1-footer {
    font-size: 20px;
    color: white;
}





